@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Clinic>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    /**/

    Layout = "master.cshtml";
}

<style>
    .address-heading {
       
        color: #000;
        
    }

    .address-detail, .address-detail a {
        
        color: #000;
       
    }
</style>

<!-- banner section -->
<section class="clinic-banner common-banner" style="background: url(@(Model.BannerImage!=null?Model.BannerImage.Url:string.Empty)) top center no-repeat;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="carousel-caption">
                    <h1 class="banner-heading">@Model.BannerHeading</h1>
                    @Html.Raw(Model.BannerDescription)
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Ncc member Start -->
<section class="clinic-second-wrapper about-second-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="common-heading text-white">Our Clinic</h2>
            </div>
        </div>
        <div class="row">
            @if (Model.OurClinic != null)
            {
                foreach (ImageAndHeadingNC item in Model.OurClinic)
                {
                    <div class="col-md-4 hcp-inner">
                        <img src="@(item.Image!=null?item.Image.Url:string.Empty)">
                        <h2 class="text-white">@item.Heading</h2>
                    </div>
                }
            }
        </div>
    </div>
</section>

<!-- About National Cannabis start -->
<section class="about-third-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="common-heading">@Html.Raw(Model.AmenitiesHeading)</h2>
                @Html.Raw(Model.AmenitiesDescription)
            </div>
        </div>
        <div class="row clinic-amenities">
            @if (Model.AmenitiesInClinic != null)
            {
                foreach (ImageHeadingAndDescriptionNC item in Model.AmenitiesInClinic)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <img class="card-img-top" src="@(item.Image!=null?item.Image.Url:string.Empty)" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">@item.Heading</h4>
                                <p class="card-text">@item.Description</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

<section class="faq-wrapper clinic-location">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    @if (Model.Address != null)
                    {
                        var i = 1;
                        foreach (AddressNC item in Model.Address)
                        {
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne@(i)">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne@(i)" aria-expanded="true"
                                       aria-controls="collapseOne@(i)">
                                        <h5 class="mb-0">
                                            @item.Title
                                            <i class="fas fa-chevron-circle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>
                                <div id="collapseOne@(i)" class="collapse @(i==1?"show":string.Empty)" role="tabpanel" aria-labelledby="headingOne@(i)"
                                     data-parent="#accordionEx">
                                    <div class="row ml-0 mr-0">
                                        <div class="col-lg-9 col-md-6 pl-0">
                                            @Html.Raw(item.EmbeddedMap)
                                        </div>
                                        <div class="col-lg-3 col-md-6 pr-0">
                                            <div class="clinic-address">
                                                <div class="card-body address-col">
                                                @if (!string.IsNullOrEmpty(item.Address))
                                                {
                                                    <div class="address-inner">
                                                        <div class="address-heading">Address</div>
                                                        <div class="address-detail">
                                                            @item.Address
                                                        </div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(item.PhoneNumber))
                                                {
                                                    <div class="address-inner">
                                                        <div class="address-heading">Phone Number</div>
                                                        <div class="address-detail"><a href="tel:@item.PhoneNumber">@item.PhoneNumber</a></div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(item.Email))
                                                {
                                                    <div class="address-inner">
                                                        <div class="address-heading">Email</div>
                                                        <div class="address-detail"><a href="mailto:@item.Email">@item.Email</a> </div>
                                                    </div>
                                                }
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                               </div>

                            </div>
                            i++;
                        }
                    }
                </div>
                <!-- Accordion wrapper -->
            </div>
        </div>
    </div>
</section>