@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Team>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

<!-- banner section -->
<section class="team-banner common-banner" style="background: url(@(Model.BannerImage!=null?Model.BannerImage.Url:string.Empty)) top center no-repeat;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="carousel-caption">
                    <h1 class="banner-heading text-white">@Model.BannerHeading</h1>
                    @Html.Raw(Model.BannerDescription)
                 </div>
            </div>
        </div>
    </div>
</section>

<!-- Ncc member Start -->
<section class="hcp-member-100 about-second-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="common-heading">@Html.Raw(Model.WhoWeAreHeading)</h2>
            </div>
        </div>
        <div class="row">
            @if (Model.WhoWeAre != null)
            {
                foreach (ImageAndHeadingNC item in Model.WhoWeAre)
                {
                    <div class="col-md-4 hcp-inner">
                        <img src="@(item.Image!=null?item.Image.Url:string.Empty)">
                        <h2 class="text-dark">@Html.Raw(item.Heading)</h2>
                    </div>
                }
            }
        </div>
    </div>
</section>

<!-- About National Cannabis start -->
<section class="about-third-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="common-heading">@Html.Raw(Model.OurTeamHeading)</h2>
                @Html.Raw(Model.OurTeamDescription)
            </div>
        </div>
        <div class="row our-team-col">
            @if (Model.OurTeam != null)
            {
                foreach (ImageHeadingAndDescriptionNC item in Model.OurTeam)
                {
                    <div class="col-lg-4 col-sm-6">
                        <div class="card text-center">
                            <img class="card-img-top" src="@(item.Image!=null?item.Image.Url:string.Empty)" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">@item.Heading</h4>
                                <div class="card-text">@Html.Raw(item.Description)</div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

<!-- Blog Section -->
<section class="about-fourth-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="common-heading">@Html.Raw(Model.KnowMoreHeading)</h2>
            </div>
        </div>
        <div class="row">
            @if (Model.KnowMoreContent != null)
            {
                foreach (ImageAndLinkNC item in Model.KnowMoreContent)
                {
                    if (item.Link != null)
                    {
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <a href="@item.Link.Url">
                                    <img class="card-img-top" src="@(item.Image!=null?item.Image.Url:string.Empty)" alt="Card image">
                                    <div class="card-body">
                                        <h4 class="heading-28 text-center">@item.Link.Name</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section>


